@import url(../../../assets/css/base.css);
html
{
	background-image: url("../../../assets/img/Frieren.png");
	/* background-repeat: no-repeat; */
	background-size: cover;
}



header
{
	position: sticky;
	background: transparent;
	border-bottom: none;
	z-index: 1;
}

nav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--lspace-20) var(--lspace-25);
	margin: var(--lspace-20) var(--lspace-25);
	max-height: 120px;
	
	border: 1px solid var(--bg);
	border-radius: 1rem;
	backdrop-filter: blur(15px) saturate(250%);
	-webkit-backdrop-filter: blur(15px) saturate(250%);
	background-color: rgba(255, 255, 255, 0.05);
	
}

.nav-right
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: var(--lspace-20);
}

.chip
{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	
	color: var(--muted);
	text-align: center;
	font-size: 1.5rem;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: var(--radii-xl);
	padding: var(--lspace-5);
	/* backdrop-filter: blur(1px) saturate(120%); */
	/* -webkit-backdrop-filter: blur(1px) saturate(120%); */
}

.chip:hover
{
	color: var(--text);
	border: 1px solid var(--muted);
	border-radius: var(--radii-xl);
	backdrop-filter: blur(15px) saturate(300%);
	-webkit-backdrop-filter: blur(15px) saturate(300%);
	background-color: rgba(0, 0, 0, 0.05);
}

main
{
	/* display: flex;
	align-items: center;
	justify-content: space-between; */
	margin: 0px var(--lspace-25);
}

.about-me
{
	/* max-width: 60%; */
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.about-me-text
{
	border: 1px solid var(--bg);
	border-radius: 1rem;
	backdrop-filter: blur(15px) saturate(250%);
	-webkit-backdrop-filter: blur(15px) saturate(250%);
	background-color: rgba(255, 255, 255, 0.05);

	padding: var(--lspace-20);
	padding-top: var(--lspace-5);
	padding-bottom: 0px;

	max-width: 60%;
}

.about-me-text > h1
{
	margin: 0;
}

.pfp
{
	margin: 0% 5%;

	padding: 1%;
	
	border: 1px solid var(--bg);
	border-radius: var(--radii-xl);
	backdrop-filter: blur(15px) saturate(250%);
	-webkit-backdrop-filter: blur(15px) saturate(250%);
	background-color: rgba(255, 255, 255, 0.05);
	
}

.pfp > img
{
	border-radius: var(--radii-xl);
}

.buttons
{
	display: flex;
	column-gap: var(--lspace-25);
}

.button
{
	margin: var(--lspace-10) 0px;
	display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px 10px;
    font-size: 1rem;
    /* font-weight: var(--font-weight-300); */

    /* background: rgb(70, 69, 69); */
	color: var(--text);

    border: 1px solid var(--muted);
    border-radius: var(--radii-md);
    column-gap: var(--lspace-5);

    backdrop-filter: blur(15px) saturate(250%);
	-webkit-backdrop-filter: blur(15px) saturate(250%);
	background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 10px 10px 15px 0px rgba(255, 255, 255, 0.05);
}

.button:hover
{
	/* display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px 10px;
    font-size: 1rem; */
	color: black;
    /* font-weight: var(--font-weight-300); */

    /* background: rgb(70, 69, 69); */

    /* border: 1px solid var(--muted);
    border-radius: var(--radii-md);
    column-gap: var(--lspace-5); */

    /* backdrop-filter: blur(15px) saturate(250%); */
	/* -webkit-backdrop-filter: blur(15px) saturate(250%); */
	background-color: rgba(255, 255, 255, 0.50);
    /* box-shadow: 10px 10px 15px 0px rgba(255, 255, 255, 0.05); */
}

.contact-overlay
{
	opacity: 0;
	pointer-events: none;

	position: fixed;
	inset: 0;
	z-index: 2;

	backdrop-filter: blur(5px) saturate(100%);
	-webkit-backdrop-filter: blur(5px) saturate(100%);
	background-color: rgba(0, 0, 0, 0.5);

	transition: opacity 0.3s ease-in;
}

.contact-visible
{
	opacity: 1;
	pointer-events: auto;
}

.contact-panel
{
	max-width: 480px;
	margin: 150px auto;
}

form
{
	display: flex;
	flex-direction: column;
	row-gap: var(--lspace-10);
}

form > textarea
{
	resize: vertical;
	min-height: 35px;
	max-height: 150px;
}

.form-input
{
	padding: var(--lspace-5);

	border: 1px solid var(--muted);
	border-radius: var(--radii-md);

	background-color: rgba(0, 0, 0, 0.05);

	text-align: center;
	outline: none;
	color: var(--text);

	font-family: "Noto Sans";
}

.form-submitted-result
{
	color: #4da935;
    border: 1px solid #4da935;
    background-color: rgb(142 255 170 / 10%);
}
